@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ul.bullet {
  align-items: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #FBC108;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.storyList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.story-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  min-height: 10vh;
  width: 60%;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: rgb(244, 246, 247);
  color: rgba(83, 107, 120, 1);
}

.story-card img {
  width: 90%;
  max-height: 20%;
  height: auto;

}

.story-card div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.story-card:hover {
  opacity: 0.5;
}

.error-display {
  width: 40vh;
  color: red;
  font-weight: bold;
  background: white;
  border: 2px dashed red;
}

.single-page-story {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: url("./images/backround_pollen_2.png"), url("./images/backround_pollen_2.png"), url("./images/backround_pollen_1.png");
  background-position: left top, center, right bottom;
  background-repeat: no-repeat;
  background-size: 40%, 40%, 35%;  
  border: 4px solid #ebe6e1;
  color: rgba(0, 0, 0, 0.64);
  padding-top: 2%;
}

.single-page-story p1 {
  text-transform: uppercase;
  font-size: 4vw;
  padding-left: 10%;
  padding-right: 10%;
}

.single-page-story h1 {
  padding-left: 10%;
  padding-right: 10%;
}

.single-page-story p3 {
  font-size: 4vw;
  padding-left: 10%;
  padding-right: 10%;
}

.single-page-story p4 {
  font-weight: bold;
  font-size: 6vw;
  padding-left: 10%;
  padding-right: 20%;
}

.story-column-one {
  display: flex;
  flex-direction: column;
}

.story-column-one img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.story-column-one p2 {
  text-transform: uppercase;
  font-size: 4vw;
  padding-left: 10%;
  padding-right: 10%;
}

.story-column-two {
  display: flex;
  flex-direction: column;
  text-align: centre;
  align-items: center;
  justify-content: center;
}

.story-column-two img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  display: none;
}

.story-column-two{
  visibility: hidden;
  display: none;
}

.story-column-two p2 {
  text-transform: uppercase;
  font-size: 4vw;
  padding-left: 10%;
  padding-right: 10%;
  visibility: hidden;
  display: none;
}

.text-page {
  height: 600px;
  background-image: url("./images/backround_pollen_2.png"), url("./images/backround_pollen_1.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 20%, 15%;
  padding-left: 10%;  
  padding-right: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-content: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo-text {
  /* display: inline-block; */
  color: rgb(72, 180, 243);
  margin: 20px 10px;
}

nav ul {
  display: none;
}

.donate-btn {
  display: none;
}

ul {
  display: inline-block;
  list-style: none;
}

.hero-section {
  background-image: url("./images/pollen.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-container {
  width: 80%;
}

a {
  text-decoration: none;
}
nav {
  position: relative;
  margin: 0 auto;
}

header {
  position: relative;
}
nav li a {
  color: black;
}

.burger-menu {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

.burger-menu span {
  display: block;
  background-color: black;
  transition: 200ms;
  padding: 2px 16px;
  margin: 6px;
}

.burger-span-1 {
  transform: translateY(10px) rotate(-45deg);
}

.burger-span-2 {
  transform: scale(0);
}

.burger-span-3 {
  transform: translateY(-10px) rotate(45deg);
}

.hero-text h2{
  font-size: 2.4em;
}

.storyList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  background-image: url("./images/backround_pollen_2.png"), url("./images/backround_pollen_1.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 20%, 15%;
  margin: 20px auto;
}

.carousel-story {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-left: 50px;
  /* left: calc(50% - 377px/2 - 36.5px); */
  /* top: calc(50% - 225px/2 + 206px); */
  background: #F9F9F9;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.carousel-story img {
  height: 70%;
  width: auto;
}

.quote-section img {
  width: 100vw;
  margin: 0;
}

.quote-section h3 {
  font-size: 2.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
  margin-bottom: 15px;
}

.quote-section .quote-container {
  padding: 25px;
}

.charity-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 40px;
}

.charity-section h2, 
.artist-section h2 {
  font-size: 2.4em;
  margin-bottom: 20px;
}

.charity-container {
  position: relative;
  /* width: 90vw; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charity-icon {
  width: 35vw;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  color: black;
}

.footer-container ul {
  margin-bottom: 15px;
}

.footer-container a {
  margin: 0 8px;
  color: black;
}

.artist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
}

.artist-section h2 {
  margin: 35px 0 55px 0;
}

.artists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: auto;
  margin: 0 auto;
}

.artist-card {
  background-color: #F9F9F9;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
  width: 300px;
  margin: 30px 10px;
}

.artist-image {
  width: 300px;
}

.artist-text {
  padding: 15px;
}

.artist-text h3 {
  margin-bottom: 15px;
}

.artist-text p {
  margin-bottom: 40px;
}

.artist-section {
  padding-bottom: 45px;
}

.artist-section p {
  font-weight: 700;
  font-size: 18px;
}

.artist-section-quote {
  text-align: justify;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
}

.qr-section {
  width: 100vw;
  position: relative;
}

.qr-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

nav {
  z-index: 1000;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .qr-section {
    display: none;
  }

  .hero-text h2{
    font-size: 2.6em;
  }

  .story-card {
    width: 25%
  } 

  .single-page-story h1 {
    flex-wrap: nowrap;
    font-size: 4vw;
   }

  .single-page-story p1 {
    flex-wrap: nowrap;
    font-size: 2vw;
   }

   .single-page-story p3 {
    font-size: 1.5vw;
   }

   .single-page-story p4 {
    font-size: 3.5vw;
   }

  .story-column-one {
    width: 50%;
  }

  .story-column-one img {
    visibility: hidden;
    display: none;
  }

  .story-column-one p2 {
    visibility: hidden;
    display: none;
  }

  .story-column-two {
    width: 50%;
    visibility: visible;
    display: block;
  }
  
  .story-column-two img {
    visibility: visible;
    display: block;
    width: 50%;
    max-height: auto;
  }

  .story-column-two p2 {
    visibility: visible;
    display: block;
    font-size: 1.5vw;
    width: 50%;
    padding-left: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .hero-text h2 {
    font-size: 3.4em;
  }

  .artists-container {
    flex-direction: row;
    margin-bottom: 45px;
  }

  .artist-card {
    width: 350px;
  }

  .artist-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }

  .artist-section-quote {
    font-size: 22px;
  }

.carousel-story img {
  max-width: 90%;
  height: auto;
  max-height: 70%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-text h2{
    font-size: 3.8em;
  }

  .bm-burger-button{
    display: none;
  }

  nav ul {
    display: block;
    margin-top: 20px;
  }

  .donate-btn {
    display: inline-block;
  }

  .nav-link {
    font-size: 18px;
    padding: 20px 20px;
    font-weight: 500;
  }

  .charity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  
  .charity-section h2,
  .artist-section h2 {
    font-size: 3.8em;
    margin-bottom: 30px;
  }

  .charity-section p {
    font-size: 18px;
  }
  
  .charity-container {
    position: relative;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 65px;
  }
  
  .charity-icon {
    width: 300px;
    margin: 20px;
  }
  
  .carousel-story {
    width: 40%;
  }

  .carousel-story {
    width: 40%;
  }

  .carousel-container {
    width: 90vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .footer-container {
    margin-top: 25px;
  }

  .text-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;  
  }

  .artist-section-quote {
    font-size: 26px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logo {
    width: 100px;
    height: 100px;
  }
  
  .logo-text {
    /* display: inline-block; */
    color: rgb(72, 180, 243);
    margin: 20px 10px;
  }
  
  .container {
    width: 1300px;
  }
  
  .hero-section {
    height: 700px;
  }
  
  .hero-text-container {
    width: 40%;
  }
  
  .hero-text h2{
    font-size: 4.5em;
  }
  
  .hero-text p {
    font-size:  2em;
  }

  .quote-section {
    display: flex;

  }

  .quote-section img {
    padding: 150px 0 150px 150px;
    width: 40vw;
    margin: 0;
  }

  .quote-section h3 {
    font-size: 4.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    margin: 15px 0 25px 0;
  }

  .quote-section p {
    font-size: 1.6em;
  }
  
  .quote-section .quote-container {
    padding: 125px;
  }

  .artist-section-quote {
    font-size: 30px;
  }

  .artist-card {
    margin: 30px;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  color: white;
  background-color: #1582D1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.donation-card-title h2{
  padding: 15px;
  text-align: center;
}

.donation-selection {
  background-color: #FBC108;
  background-image: url("./images/backround_pollen_2.png"), url("./images/backround_pollen_1.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 16%, 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.slider-parent {
  position: relative;
  margin: 0;
  padding: 0;
}

.donation-container {
  background-color: #2c3f49;
  min-width: 70vw;
  padding: 2%;
  border-radius: 2em;
  padding: 35px;
  margin: 120px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  box-shadow: 4px 4px 4px 3px rgb(39, 39, 39);
}

.donation-greetings p{
  text-align: center;
}

.other-amount p{
  color: white;
  font-size: 0.6em;
  text-decoration: underline;
  margin-bottom: 24px;
}

.donation-buttons button{
  margin-bottom: 20px;
}

.donation-button {
  background-color: #878787;
}

.donation-button:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 100;
  background-color: #878787;
  transform: rotate(45deg);
  top: 45px;
  right: 24px;
}

.donation-button-highlighted {
  background-color: #FBC108;
}

.donation-button-highlighted:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 100;
  background-color: #FBC108;
  transform: rotate(45deg);
  top: 45px;
  right: 24px;
}

.donation-buttons button{
  margin: 4%;
  margin-bottom: 1%;
  position: relative;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 0;
}

.donation-buttons button:focus {
  outline: none;
}

button[type=submit]:hover {
  background-color: #1582D1;
}

.donation-slider {
  width: 86%;
  padding-left: 7%;
  justify-content: center;
}




/* css menu styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  /* z-index: 1000; */
}

/* General sidebar styles */
.bm-menu {
  background: #FBC108;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-left: -25px;
}



/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}